* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-image: url("web3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 90% right;
}
nav {
  display: flex;
  height: 10vh;
  color: #fff;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  padding: 15px;
}
.nav_list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  cursor: pointer;
}
.nav_button {
  border: none;
  border-radius: 4px;
  color: #fff;
  padding: 8px 15px;
  text-transform: uppercase;
  font-weight: bold;
  background-color: rgb(158, 4, 158);
  cursor: pointer;
}
.buttons {
  margin-top: 40px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.contact_button {
  cursor: pointer;
  border: none;
  border-radius: 3px;
  padding: 8px 15px;
  color: #fff;
  font-size: 1.3rem;
  font-weight: bold;
  text-transform: uppercase;
  background-color: rgb(158, 4, 158);
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.white_paper {
  border: 1px solid #f7f0f0;
  cursor: pointer;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  border-radius: 3px;
  font-weight: bold;
  padding: 8px 15px;
  color: #f7f0f0;
  font-size: 1.3rem;
  text-transform: uppercase;
  background-color: transparent;
}
main {
  font-family: "Courier New", Courier, monospace;
  display: flex;
  gap: 10px;
  color: #f7f0f0;
  justify-content: center;
  align-items: center;
  height: 90vh;
  padding: 20px;
}
.heading {
  font-size: 2.8em;
  text-transform: capitalize;
}
.paragraph {
  margin-top: 12px;
  margin-bottom: 10px;
}
.purple {
  color: rgb(158, 4, 158);
}
